body{
    font-family: Arial, Helvetica, sans-serif;
}
#lions{
    display: flex;
    width: 130px;
    height: 130px;
    margin-left: 1223px;
    margin-top: -180px;
   

}
#fubog{
    display: flex;
    width: 250px;
    height: 250px;
    margin-left: -48px;
    margin-top: -50px;

}
#titulo {
    margin-left: 460px;
    font-size: 40px;
    margin-top: -30px;
}
#subtitulo {
    margin-left: 189px;
    font-size: 20px;
}
#voltar,#enviar{
    margin-top: 5px;
    white-space: nowrap;
}
#voltar{
    margin-left: 10px;
    width: 150px;
    height: 55px;
    font-size: 25px;
    background-color: #004F9E;
    color: white;
    border-radius: 5px;
}
#enviar{
    margin-left: 965px;
    width: 200px;
    height: 55px;
    font-size: 25px;
    background-color: #004F9E;
    color: white;
    border-radius: 5px;
}

.box-zero6,
.box-um6,
.box-dois6,
.box-tres6,
.box-quatro6,
.box-cinco6,
.box-seis6,
.box-sete6,
.box-oito6,
.box-nove6,
.box-dez6,
.box-NA6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    padding: 5px; /*tamanho da bordar do label/input*/
    border-radius: 10px; /*curva da borda do label/input*/
    justify-content: space-evenly;
}
.conteiner-box6,
#pergunta-seis {
    display: inline-flex;
    margin-left: 10px;
    padding: 5px;
    white-space: nowrap;
    margin-inline: 332px;
    margin-right: 10px;
}
#pergunta-seis{
    margin-top: px;
    border: 2px solid #004F9E;
    margin-left: 10px; /* Ajuste layot pergunta*/
    font-size: 22px;
}
.conteiner-box6{
    margin-left: 147px;
}
.box-zero6 {
    background-color: #B72224;
}

.box-zero6 {
    background-color: #FF0000;
}

.box-um6 {
    background-color: #FF0000;

}

.box-dois6 {
    background-color: #FF0000;
}

.box-tres6 {
    background-color: #FF8943;
}

.box-quatro6 {
    background-color: #FDA83B;
}

.box-cinco6 {
    background-color: #FFC120;
}

.box-seis6 {
    background-color: #EBBD0F;

}

.box-sete6 {
    background-color: #C0CB0F;

}

.box-oito6 {
    background-color: #9DCD06;

}

.box-nove6 {
    background-color: #79CC01;

}

.box-dez6 {
    background-color: #2DB102;

}


.box-zero7,
.box-um7,
.box-dois7,
.box-tres7,
.box-quatro7,
.box-cinco7,
.box-seis7,
.box-sete7,
.box-oito7,
.box-nove7,
.box-dez7,
.box-NA7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    padding: 5px; /*tamanho da bordar do label/input*/
    border-radius: 10px; /*curva da borda do label/input*/
    justify-content: space-evenly;
}
.conteiner-box7,
#pergunta-sete {
    display: inline-flex;
    margin-left: 10px;
    padding: 5px;
    white-space: nowrap;
    margin-inline: 274px;
    margin-right: 10px;
}
#pergunta-sete {
    border: 2px solid #004F9E;
    margin-left: 10px; /* Ajuste layot pergunta*/
    font-size: 22px;
}
.conteiner-box7{
    margin-left: 56px;
}
.box-zero7 {
    background-color: #FF0000;
}

.box-um7 {
    background-color: #FF0000;

}

.box-dois7 {
    background-color: #FF0000;
}

.box-tres7 {
    background-color: #FF8943;
}

.box-quatro7 {
    background-color: #FDA83B;
}

.box-cinco7 {
    background-color: #FFC120;
}

.box-seis7 {
    background-color: #EBBD0F;

}

.box-sete7 {
    background-color: #C0CB0F;

}

.box-oito7 {
    background-color: #9DCD06;

}

.box-nove7 {
    background-color: #79CC01;

}

.box-dez7 {
    background-color: #2DB102;

}


.box-zero8,
.box-um8,
.box-dois8,
.box-tres8,
.box-quatro8,
.box-cinco8,
.box-seis8,
.box-sete8,
.box-oito8,
.box-nove8,
.box-dez8,
.box-NA8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    padding: 5px; /*tamanho da bordar do label/input*/
    border-radius: 10px; /*curva da borda do label/input*/
    justify-content: space-evenly;
}
.conteiner-box8,
#pergunta-oito{
    display: inline-flex;
    margin-left: 10px;
    padding: 5px;
    margin-inline: 340px;
    margin-right: 10px;
}
#pergunta-oito {
    border: 2px solid #004F9E;
    margin-left: 10px; /* Ajuste layot pergunta*/
    white-space: nowrap;
    font-size: 22px;
}
.conteiner-box8 {
    margin-left: 149px;
}
.box-zero8 {
    background-color: #FF0000;
}

.box-um8 {
    background-color: #FF0000;

}

.box-dois8 {
    background-color: #FF0000;
}

.box-tres8 {
    background-color: #FF8943;
}

.box-quatro8 {
    background-color: #FDA83B;
}

.box-cinco8 {
    background-color: #FFC120;
}

.box-seis8 {
    background-color: #EBBD0F;

}

.box-sete8 {
    background-color: #C0CB0F;

}

.box-oito8 {
    background-color: #9DCD06;

}

.box-nove8 {
    background-color: #79CC01;

}

.box-dez8 {
    background-color: #2DB102;

}


.box-zero9,
.box-um9,
.box-dois9,
.box-tres9,
.box-quatro9,
.box-cinco9,
.box-seis9,
.box-sete9,
.box-oito9,
.box-nove9,
.box-dez9,
.box-NA9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    padding: 5px; /*tamanho da bordar do label/input*/
    border-radius: 10px; /*curva da borda do label/input*/
    justify-content: space-evenly;
}
.conteiner-box9,
#pergunta-nove {
    display: inline-flex;
    margin-left: 10px;
    padding: 5px;
    margin-inline: 314px;
    margin-right: 10px;
    
}
#pergunta-nove{
    border: 2px solid #004F9E;
    margin-left: 10px; /* Ajuste layot pergunta*/
    white-space: nowrap;
    font-size: 22px;
}
.conteiner-box9{
    margin-left: 119px;
}
.box-zero9 {
    background-color: #FF0000;
}

.box-um9 {
    background-color: #FF0000;

}

.box-dois9 {
    background-color: #FF0000;
}

.box-tres9 {
    background-color: #FF8943;
}

.box-quatro9 {
    background-color: #FDA83B;
}

.box-cinco9 {
    background-color: #FFC120;
}

.box-seis9 {
    background-color: #EBBD0F;

}

.box-sete9 {
    background-color: #C0CB0F;

}

.box-oito9 {
    background-color: #9DCD06;

}

.box-nove9 {
    background-color: #79CC01;

}

.box-dez9 {
    background-color: #2DB102;

}


.box-zero10,
.box-um10,
.box-dois10,
.box-tres10,
.box-quatro10,
.box-cinco10,
.box-seis10,
.box-sete10,
.box-oito10,
.box-nove10,
.box-dez10,
.box-NA10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    padding: 5px; /*tamanho da bordar do label/input*/
    border-radius: 10px; /*curva da borda do label/input*/
    justify-content: space-evenly;
}
.conteiner-box10,
#pergunta-dez {
    display: inline-flex;
    margin-left: 10px;
    padding: 5px;
    white-space: nowrap;
    margin-inline: 434px;
    margin-right: 10px;
}
#pergunta-dez {
    border: 2px solid #004F9E;
    margin-left: 10px; /* Ajuste layot pergunta*/
    font-size: 22px;
    border-end-end-radius: 5px;
    border-bottom-left-radius: 5px;
}
#pgdez10 {
    position: absolute;
    margin-top: 40px;
    
}
.conteiner-box10{
    margin-left: 301px;
}
.box-zero10 {
    background-color: #FF0000;
}

.box-um10 {
    background-color: #FF0000;

}

.box-dois10 {
    background-color: #FF0000;
}

.box-tres10 {
    background-color: #FF8943;
}

.box-quatro10 {
    background-color: #FDA83B;
}

.box-cinco10 {
    background-color: #FFC120;
}

.box-seis10 {
    background-color: #EBBD0F;

}

.box-sete10 {
    background-color: #C0CB0F;

}

.box-oito10 {
    background-color: #9DCD06;

}

.box-nove10 {
    background-color: #79CC01;

}

.box-dez10 {
    background-color: #2DB102;

}